body {
  font-family: 'Advent Pro', sans-serif;
  background-color: #def3fa;
}

@font-face {
  font-family: 'Advent Pro';
  src: url('../fonts/AdventPro-Italic.woff2') format('woff2'),
      url('../fonts/AdventPro-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Advent Pro';
  src: url('../fonts/AdventPro-Regular.woff2') format('woff2'),
      url('../fonts/AdventPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#nav * {
  display: inline;
}

#nav {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#nav ul {
  margin: 0;
  padding: 0;
}

#nav li {
  margin-right: 50px;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  padding: 10px;
}

#nav li:hover {
  background-color: #ebd0fc;
}

#nav li a {
  color: black;
  text-decoration: none;
}

#nav li a:hover {
  text-decoration: underline;
}
